*{

	margin: 0;
	padding: 0;

}

body{

	background-color: #494A45;

	color: white;
	font-family: Helvetica, sans-serif;

}

header{

	background-color: #3c3d37;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 20px 0;

}

header h1{

	width: 324px;
	height: 60px;
	background-image: url(../assets/logo.svg);

}

header h1 span{

	display: none;

}

#favTitle{

	margin: 0 20px;
	font-size: 1.6em;
	display: none;

}

.container{

	margin: 0 auto;
	width: 70%;

}

.searchSection{

	background-color: #545550;

}

input[type="text"]{

	width: 60%;
	height: 60px;
	margin: 100px 20%;
	border: 2px solid #3c3d37;
	background-color: #494a45;
	color: white;
	border-radius: 20px;
	outline: none;
	text-align: center;
	font-size: 1.6em;

}

::-webkit-input-placeholder {
   color: #b6b6b5;
   text-align: center;
}

:-moz-placeholder {
   color: #b6b6b5;
   text-align: center;  
}

::-moz-placeholder {
   color: #b6b6b5;
   text-align: center;  
}

:-ms-input-placeholder {  
   color: #b6b6b5;
   text-align: center;  
}

.resultsSection{

	height: 100%;
	background-color: #494a45; 
	text-align: center;
	padding-top: 20px;
	border-top: 2px solid #3c3d37;

}

/*.resultsSection > div > h1{

	color: #D26E00;

}*/

.resultsSection h2{

	color: #b6b6b5;

}

.result{

	background-color: #545550;
	border: 2px solid #3c3d37;
	border-radius: 10px;
	width: 20%;
	margin: 2%;
	display: inline-block;

}

.result header h3{

	padding-bottom: 15px;

}

.result li{

	list-style-type: none;
	margin: 5px 0;

}

.result a{

	color: white;

}

.result a:visited{

	color: white;

}

#favorites{

	padding: 20px 0;
	overflow-x: scroll;
	white-space: nowrap;

}

/*#favorites::-webkit-scrollbar{ 

	height: 0px;

}*/

#favorites li{

	display: inline-block;
	list-style-type: none;
	margin: 0 20px;
	width: 100px;
	text-align: center;

}

#favorites li a{

	color: white;

}

#favorites li a:visited{

	color: white;

}

#favorites img{

	width: 100px;
	height: 100px;
	transition: all .2s ease-in-out;

}	

#favorites img:hover{

	-ms-transform: scale(1.05); /* IE 9 */
   	-webkit-transform: scale(1.05); /* Safari */
    transform: scale(1.05);

}